.grey-text{
    color: grey;
}

#blue-color{
    color: #1fa9e5;
}

.repeat-img-blue{
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 40% auto; /* Rimpicciolisce l'immagine a una larghezza di 50px, altezza automatica */
    background-color: #4ea0ff; /* Colore di sfondo di backup */
    height: 76px; 
}

figure{
    position: relative;
    display: inline-block;
    text-align: center;
}
figcaption{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
/*     background: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente */
    color: white; 
    text-align: left;
}



