

/* 
{
    margin: 0;
    padding: 0;
}

.grey-text{
    color: grey;
}

#blue-color{
    color: #1fa9e5;
}

body, html {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.repeat-img-blue{
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 40% auto;
    background-color: #4ea0ff; 
}

#header-the,
#header-booleaner {
    margin: 0 40px;
    line-height: 0.6; 
    font-size: 24px; 
}

#repeat-img-blue figcaption{
    color: red;
}

#header-the p{
}

#Title-who-when h1{
    margin-top: 10px;
    margin-bottom: 0px;
}
#Title-who-when h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
#Title-who-when h5{
    margin-top: 0px;
}

h6{
    margin-top: 2px;
    margin-bottom: 2px;
}

main{
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1200px;
}

#unordered-list{
    margin-top: -30px;
    margin-left: 15px;
    margin-bottom: 30px;
    padding: 0px;  
}      
#unordered-list li {
    margin-top: -14px;
    padding: 0px;        
}

table {
    border-collapse: collapse; 
    border-spacing: 0; 
    width: 100%; 
}
.row-blue th{
    font-weight: normal;
}
.row-white th{
    font-weight: normal;
}

#thead-table{
    color: white;
    background-color: #1fa9e5;
    text-align: left;
}
.row-blue{
    background-color: #b1e4f2;
    text-align: left;
}
.row-white{
    font-weight: normal;
    text-align: left;
}

#text-under-table{
    margin-top: 10px;
}

footer{
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1200px;
}

#grey-text h3{
}

#potrebbero-interessarti{
    margin-bottom: 8px;
}

figure{
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-block;
    text-align: left;
}
figure img{
    width: 80%; 
    height: auto; 
}

figcaption{
    font-size: 18.6px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
  background: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente 
    color: white; 
    text-align: left;
}

.related_articles_title{
    width: 300px;
    height: ;
}

#monitor{
    background-image: url("../img/monitor.jpg");
}
#graph{
    background-image: url("../img/graph.jpg");
} */



:root{
    --bool-black : #000;
    --bool-white : #fff;
    --bool-primary : purple;
    --bool-secondary : #1fa9e5;
    --bool-secondary-light : #b1e4f2;
    --bool-light : #808080;
    --blue-dark: #4ea0ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utility classes */
.container{
    width: 85%;
    margin: auto;
}
.text_xs{font-size: 0.9rem;}
.py-3{padding: 1.5rem 0rem;}
.pl-3{padding-left: 1.5rem;}
.w-50{width: 50%;}
.mb{margin-bottom: 1.3rem;}
.mb+{margin-bottom: 3rem;}

.align-left{
    text-align: left;
}
.bg-secondary{
    background-color: var(--bool-secondary);
    color: var(--bool-white);
}
.bg-secondary-light{
    background-color: var(--bool-secondary-light);
}

.mt{margin-top: 1rem;}


.logo{
    width: 22.3%;
    padding: 2.4rem 0 ;
}

#app_header{
    background-color: var(--blue-dark);
    background-image: url("../img/pattern.png");
    background-size: 28.92rem;
    background-repeat: repeat;
}

.article_title{
    font-size: 3.8rem;
    margin: 1rem 0 0.5rem 0;
}
.author_name{
    color: var(--bool-secondary);
}

table{
    border-collapse: collapse;
}
.related_article{
    width: 300px;
    height: 240px;
    margin-bottom: 0.8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.related_article_title{
    font-size: 1.6rem;
    padding: 0.8rem 1rem;
    color: var(--bool-white);
}

#monitor{
    background-image: url(../img/monitor.jpg);
}
#graph{
    background-image: url(../img/graph.jpg);
}

.editfont1{
    color: var(--bool-light);
    font-size: 1.7rem;
}
.date{
    margin-top: -0.1rem;
    font-size: 1.1rem;
    color: var(--bool-light);
}

.editwidth1{width: 66%;}
.editwidth2{width: 56%;}
.bold{font-weight: bold;}
.editfont2{font-size: 1.4em; font-weight: bolder; color: var(--bool-light);}